body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: rgba(247, 224, 21, 0.829);
    border: 1px solid green;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

h1 {
    display: flex;
    text-align: center;
    color: green;
    align-items: center;
    justify-content: center;
}

#hero {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    background-color: rgba(247, 224, 21, 0.829);
    border: 1px solid green;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 20%;
}