* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sansita", sans-serif;
}


header {
    background-color: rgb(68, 29, 104);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

nav, ul{
    background-color: rgb(68, 29, 104);
    display: flex;
    list-style: none;
    align-items: center;
}

li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

main {
    color: white;
    display: flex;
    justify-content: center;

}

footer {
    background-color: rgb(68, 29, 104);
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
  
}