* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: 'Roboto', sans-serif;
}

header {
<<<<<<< HEAD
	background-color: #457099;
=======
	background-color: #bbb;
>>>>>>> b4319a696702800d0308678fc5a9542048776a00
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

<<<<<<< HEAD

h1 {
	font-size: 2rem;
	color: white;
=======
header,
main {
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
>>>>>>> b4319a696702800d0308678fc5a9542048776a00
}

nav {
	background-color: #36454f;
<<<<<<< HEAD
	border: 1px solid rgba(0, 0, 0, 0.1);
=======
	margin: 0 auto;
	max-width: 800px;
>>>>>>> b4319a696702800d0308678fc5a9542048776a00
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
<<<<<<< HEAD
	text-decoration: underline;
}


.card-img {
	max-width: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
=======
	text-decoration:overline;
}

.active {
	color: yellow;
>>>>>>> b4319a696702800d0308678fc5a9542048776a00
}

p {
	margin: 0.25rem;
<<<<<<< HEAD
	padding: 0.5rem 0.75rem;
	color: white;
	display: block;
}

footer {
	background-color: #457099;
	padding: 20px;
	text-align: center;
	padding-bottom: 0%;
	width: 100%;
	position: fixed;
	bottom: 0;
}

=======
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem 0.75rem;
	background-color: #eee;
}

.highlight {
	color: navy;
	font-weight: 700;
	font-family: hebrew;
}


>>>>>>> b4319a696702800d0308678fc5a9542048776a00
/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
<<<<<<< HEAD

	
}
=======
}
  
>>>>>>> b4319a696702800d0308678fc5a9542048776a00
