* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: 'Roboto', sans-serif;
}

header {
    background-color: #457099;
    text-align: center; /* Centers content within header */
    border: 1px solid rgba(0, 0, 0, 0.1);
	gap: 10px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px; /* Adds space between h1 and nav */
    color: white;
	padding: 20px;
}

nav {
    background-color: #36454f;
    border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between links */
    padding: 0;
}

nav a {
    color: #fff;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


main {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px;
	padding: 10px;

}

.moroni {
	border-radius: 50%;
	width: 20%;
	height: 20%;
	max-width: 20%;
	max-height: 20%;
	display: flex;
	margin-left: 70%;
}

.flag {
	border-radius: 30%;
	width: 20%;
	height: 50%;
	max-width: 20%;
	max-height: 50%;
	display: flex;
	margin-left: 10%;
}

.card div {
	text-align: center;
	padding: 135px 0;
	font-size: 30px;
}

#first {
	grid-column-start: 1;
	grid-column-end: 3;
	border: gray 1px solid;
	border-radius: 10px;
}

ul li {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.about {
	text-align: center;
	background-color: #457099;
	border: #000000 1px solid;
	border-radius: 7px;
	padding: 5px;
	color: white;
}


#second {
	border: gray 1px solid;
	border-radius: 10px;	
	grid-column-start: auto;
}

.resources{
	text-align: center;
	background-color: #457099;
	border: #000000 1px solid;
	border-radius: 7px;
	padding: 5px;
	color: white;
}


p {
	margin: 0.25rem;
	padding: 0.5rem 0.75rem;
	color: white;
	display: block;
}

footer {
	background-color: #457099;
	padding: 10px;
    text-align: center;
}

.highlight {
	color: navy;
	font-weight: 700;
	font-family: hebrew;
}

/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}



	
}
